.yellow {
  background-color: #e9b384;
}

.brown {
  background-color: #ba704f;
}

.btn {
  margin: 10px 0;
  display: inline-block;
  padding: 6px;
  color: black;
  font-weight: 600;
  font-style: bold;
  border: 2px solid #ba704f;
  background-color: #ba704f;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.4s;
  width: 130px;
  font-size: 20px;
  height: 50px;
}

.btn:hover {
  color: black;
  font-style: bold;
  font-weight: 600;
  border: 5px solid #e9b384;
}

.btndisabled {
  cursor: not-allowed;
  margin: 10px 0;
  display: inline-block;
  padding: 6px;
  color: black;
  font-weight: 600;
  font-style: bold;
  border: 5px solid #e9b384;
  background-color: #ba704f;
  text-transform: uppercase;
  border-radius: 100px;
  transition: 0.4s;
  width: 130px;
  font-size: 20px;
  height: 50px;
}